/* Global Layout Set-up */
* { 
  box-sizing: border-box;
}
  
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: papyrus;
  color: #222;
  background: #f7f5f0;
}
/* Link Styles */

a {
  text-decoration: none;
  color: #0499ff;
}
a:hover {
  color: #6633ff;
}

/* Section Styles */

.main-nav {
  width: 100%;
  min-height: 30px;
  padding: 10px;
  text-align: center;
}
.nav {
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.nav li {
  margin-bottom: 10px;
  padding: 5px 10px 10px 10px;
  background-color: ghostwhite;
  font-weight: 900;
}
.nav a {
  transition: all .5s;
}
.nav a:hover {
  color: white
}

header {
  text-align: center;
  background: url('images/background.png') no-repeat top center ;
  background-size: cover;
  overflow: hidden;
}
header {
  line-height: 1.5;
}
header .profile-image {
  margin-top: 20px;
}

.image{
  max-width: 100%
}

main{
  background-color: ghostwhite;

}

.tag {
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
} 
.location {
  background-color: navy;
  color: white;
}
.card {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
}
.card:hover {
  border-color: #ff99ff;
}

ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #ff9904;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: #0399ff;
}

footer {
  justify-content: space-between;
  display: flex;
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
  font-weight: 900;
  border-top: gray solid 1px;
}

footer ul{
display:none;

}



/* Styles for larger screens */
@media screen and (min-width: 768px) {
  
  .flex {
      display: flex;
      justify-content: center;
      margin: 0 auto;
      flex-wrap: wrap;
  }

  .flex div{
    flex-basis: 45%;
    padding: 0 10px;

  }

  .flex h2{
    flex-basis: 100%;

  }
  
  header {
    min-height: 450px;
    display: flex;
    flex-direction:row-reverse;
  }

  header p{
    padding-right: 1em;

  }

  .nav li {
    display: inline-block;
    background-color: transparent;   
  }

  .nav .name {
    display: block;
    margin-right: auto;
    color: white;
  }

  footer {
    font-size: 1.3em;
    margin: 40px auto;
  }

  footer ul{
    display: block;
    list-style-type: none;

  }

  footer li{
    display: inline-block;
    margin-left: 5px;

  }

  .end{
    display: none;

  }

}

.card-title{
  text-align:center;
  border-radius:10px;
  
}

@media screen and (min-width: 1024px){

  .flex div{
    flex-basis: 30%;

  }

  footer li{
    margin-right: 1em;

  }

}
